@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

[class^="devicon-"],
[class*=" devicon-"] {
  line-height: 2;
}

body {
  background: #2d3436;
}

// @media (min-width: 992px) {
//   header {
//     padding: 156px 0 100px;
//   }
// }

header {
  padding: 156px 0 100px;
}

i {
  font-size: 100px;
  // margin: 10px;
  transition: font-size 1s;
}

.resume {
  width: 100%;
}

// .dark {
//   background-color: #2d3436;
// }

// i:hover {
//   transition: font-size 1s;
//   // transition: color 1s;
//   font-size: 105px;
//   // color: red;
// }

#mySkills:hover {
  i {
    transition: font-size 1s;
    // transition: color 1s;
    font-size: 102px;
    // color: red;
  }
}

section.clear {
  opacity: 0;
}

section.active {
  opacity: 1;
}

section.view {
  transition: opacity 1.5s;
}

.profile {
  border-radius: 100px;
}

.hidden {
  display: none;
}

.text-white {
  color: #ecf0f1;
  font-family: 'Montserrat', sans-serif;
}

.emphasized-signature {
  color: #2ecc71;
  transition: color 2.5s;
}

.signature {
  color: #ecf0f1;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  justify-content: center;
  // height: 120px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 490px) {
  .signature {
    font-size: 60px;
  }
}

.contact {
  color: #f1c40f;
  text-decoration: none;
  transition: color 0.5s;
}

// $random-color: $link-colors[(Math.random)];
//
// $link-colors: [#8e44ad, #27ae60, #e74c3c];

.email:hover,
.email:focus {
  color: #27ae60;
  text-decoration: none;
  transition: color 0.5s;
}

.emphasized {
  color: #f1c40f;
  transition: color 2.5s;
}

.github:hover,
.github:focus {
  color: #9b59b6;
  text-decoration: none;
  transition: color 0.5s;
}

.linkedIn:hover,
.linkedIn:focus {
  color: #e74c3c;
  text-decoration: none;
  transition: color 0.5s;
}

.my-title {
  color: #ecf0f1;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  margin: 0 auto;
  // padding: 0;
}

// .hero {
//   background: url('../../public/images/ASHOKON915.jpg');
//   background-repeat: no-repeat;
//   background-size: contain;
//   // width: 100vw;
//   height: 1000px;
// }
